# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
h5py=2.10.0=py37h3134771_0
joblib=1.1.1=py37hecd8cb5_0
matplotlib=3.3.1=0
pandas=1.1.3=py37hb1e8313_0
python=3.7.9=h26836e1_0
scikit-learn=0.23.2=py37h959d312_0
scipy=1.5.2=py37h912ce22_0
requests
urllib3
