# required by the Hypersim Low-Level Toolkit
vray_bin       = "/Applications/ChaosGroup/V-Ray/Standalone_for_mavericks_x64/bin/vray"
imapviewer_bin = "/Applications/ChaosGroup/V-Ray/Standalone_for_mavericks_x64/bin/imapviewer.bin"
vdenoise_bin   = "/Applications/ChaosGroup/V-Ray/Standalone_for_mavericks_x64/bin/vdenoise.bin"
vrimg2exr_bin  = "/Applications/ChaosGroup/V-Ray/Standalone_for_mavericks_x64/bin/vrimg2exr.bin"

# required by the Hypersim High-Level Toolkit
python_bin = "python"

# required by the Hypersim High-Level Toolkit during initialization and normalization
# decompress_bin is the binary executable responsible for decompressing asset files;
# asset_file_ext is the file extension of top-level asset files;
# asset_sceneassets_photometric_dir_legacy is a directory containing legacy shared asset files
# (if this directory appears in a vrscene file after being exported, it will be replaced with the
# corrent non-legacy directory during normalization)
decompress_bin                           = ""
asset_file_ext                           = ""
asset_sceneassets_photometric_dir_legacy = ""

# required by the Hypersim High-Level Toolkit to submit rendering jobs for cloud rendering
cloud_server_hostname      = "127.0.0.1"
cloud_server_port          = 8082
cloud_server_username      = ""
cloud_post_task_script     = ""
cloud_asset_key_prefix_str = ""

# required by the Hypersim High-Level Toolkit to generate animations
animation_bin   = ""
animation_codec = ""
